header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(4, 42, 126, 0.8);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 34px;
    z-index: 1000; 
    
}

a{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    
}